<p id="notice"><%= notice %></p>

<p>
  <strong> wod:</strong>
  <%= @workout.wod %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @workout.reps %>
</p>

<p>
  <strong>Time:</strong>
  <%= @workout.time %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @workout.weight %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workout.date %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
